# ignore these files
.catkin_workspace
src/CMakeLists.txt

# ignore these folders
build/
devel/
.vscode/

# these folders within source
src/rplidar_ros/
src/teleop_twist_joy/
src/zed-ros-examples/
src/zed-ros-wrapper/
src/ROS-Driver

