<!-- Prototype Top-level launch file -->
<!-- This top-level launch file will launch all the other launch files -->
<!-- Cmdline Syntax: roslaunch <launch-file-path> [args] -->
<!-- Example Syntax: roslaunch top-level_launcher.launch select_man:=1 -->
<launch>

    <!-- Arguments for mode selection: value set by command line args, default is 0 (so nothing executes) -->
    <arg name="select_man" default="0" /> <!-- Arg for manual mode -->
    <arg name="select_follow" default="0" /> <!-- Arg for Follow Me mode -->

    <!-- Launch manual mode -->
    <group if="$(arg select_man)"> <!-- Only execute if this arg was explicitly set to 1 (true) -->
        <include file="$(find teleop_twist_joy)/launch/teleop.launch" />
    </group>

    <!-- Launch Follow Me mode -->
    <group if="$(arg select_follow)">
        <include file="$(find motion_control)/launch/auto_control.launch" />
        <include file="$(find navigator)/launch/follow_me.launch" />
        <include file="$(find zed_wrapper)/launch/zed2i.launch" />
    </group>

</launch>
