<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="text/javascript" src="js/roslib.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/mjpegcanvas.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->


    <style type="text/css">
        #dragstartzone {
            position: relative;
            display: inline-block;
            width: 200px;
            height: 200px;
            border: 1px solid #333;
            border-radius: 50%;
            z-index: 10;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }

        #dragCircle {
            position: absolute;
            z-index: 9;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 30%);
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }

        #dragCircle:hover {
            background-color: lightcoral;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="jumbotron text-center">
            <h1>Control Interface</h1>
        </div>

        <div class="row" style="max-height:200px;">
            <div class="col-md-6">
                <h3>Connection Status</h3>

                <p class="text-success" v-if="connected">Connected!</p>
                <p class="text-danger" v-else>Not Connected!</p>

                <label>Websocket server address</label>
                <input type="text" v-model='ws_address' />
                <br />
                <button @click="disconnect" class="btn btn-danger" v-if="connected">Disconnect</button>
                <button @click="connect" class="btn btn-success" v-else>Connect</button>
            </div>
            <div class="col-md-6" style="max-height:200px; overflow:auto">
                <h3>Log messages</h3>
                <div>
                    <p v-for="log in logs">
                        {{log}}
                    </p>
                </div>
                <button @click="clearLogs">Clear Logs</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Commands</h5>
            </div>
        </div>
        <!-- Tab Links -->
        <div class="tabs text-center">
            <button class="tablinks" @click="openTab(event, 'manual')">Manual</button>
            <button class="tablinks" @click="openTab(event, 'auto')">Go To</button>
            <button class="tablinks" @click="openTab(event, 'follow')">Follow</button>
        </div>

        <!-- Tab content -->
        <!-- Manual Mode -->
        <div id="manual" class="tabcontent">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <h2 class="text-center">Manual Mode</h2>
                        <Button @click="deactivateManual" class="btn btn-danger" v-if="manualActive">Deactivate Manual
                            Mode</Button>
                        <Button @click="manualActivate" class="btn btn-success" v-else>Activate Manual Mode</Button>
                        <div class="card-body text-center">
                            <h2 class="text-center">Joystick</h2>
                            <hr>
                            <div style="border: 1px solid blue; width: 128px; ">
                                <img src="images/joystick-base.png" />
                                <div id="stick" style="position: absolute; left:53px; top:208px">
                                    <img src="images/joystick-blue.png" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div id="status">
                            Joystick
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <iframe id="frame"
                            src="http://192.168.0.102:8080/stream_viewer?topic=/zed2i/zed_node/rgb/image_rect_color"
                            height=500 width=660></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="manual" class="tabcontent">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h5>Commands</h5>
                </div>
    
                
                <div class="col-md-12 text-center">
                    <button @click="forward" :disabled="loading || !connected" class="btn btn-primary">Go forward</button>
                    <br><br>
                </div>
    
         
                <div class="col-md-4 text-center">
                    <button @click="turnLeft" :disabled="loading || !connected" class="btn btn-primary">Turn left</button>
                </div>
                <div class="col-md-4 text-center">
                    <button @click="stop" :disabled="loading || !connected" class="btn btn-danger">Stop</button>
                    <br><br>
                </div>
                <div class="col-md-4 text-center">
                    <button @click="turnRight" :disabled="loading || !connected" class="btn btn-primary">Turn right</button>
                </div>
    
                
                <div class="col-md-12 text-center">
                    <button @click="backward" :disabled="loading || !connected" class="btn btn-primary">Go backward</button>
                </div>
            </div> 
    
        </div>
        </div> --->
        <!-- Auto Mode -->
        <div id="auto" class="tabcontent">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <!-- <div class="card-body"> -->
                        <h2 class="text-center">Go To Mode</h2>
                        <hr />
                        <button @click="deactivateAuto" class="btn btn-danger" v-if="autoActive">Deactivate Go To
                            Mode</button>
                        <button @click="autoActivate" class="btn btn-success" v-else>Activate Go To Mode</button>
                        <!-- </div> -->
                        <div class="card-body">
                            <button @click="goForOne">Go Forward by 1 Meter (X)</button>
                            <button @click="goBackOne">Go Backward by 1 Meter (X)</button>
                            <button @click="goLeftOne">Go Left by 1 Meter (Y)</button>
                            <button @click="goRightOne">Go Right by 1 Meter (Y)</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <iframe title="Camera feed"
                            id="frame"
                            src="http://192.168.0.102:8080/stream_viewer?topic=/zed2i/zed_node/rgb/image_rect_color"
                            height=500 width=660></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Follow Mode -->
        <div id="follow" class="tabcontent">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <!-- <div class="card-body"> -->
                        <h2 class="text-center">Follow Mode</h2>
                        <hr />
                        <Button @click="deactivateFollow" class="btn btn-danger" v-if="followActive">Deactivate Follow
                            Mode</Button>
                        <Button @click="followActivate" class="btn btn-success" v-else>Activate Follow Mode</Button>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <iframe title="Camera feed"
                            id="frame"
                            src="http://192.168.0.102:8080/stream_viewer?topic=/zed2i/zed_node/rgb/image_rect_color"
                            height=500 width=660></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        class JoystickController {
            // stickID: ID of HTML element (representing joystick) that will be dragged
            // maxDistance: maximum amount joystick can move in any direction
            // deadzone: joystick must move at least this amount from origin to register value change

            

            constructor(stickID, maxDistance, deadzone) {

                this.id = stickID;
                let stick = document.getElementById(stickID);

                // location from which drag begins, used to calculate offsets
                this.dragStart = null;

                // track touch identifier in case multiple joysticks present
                this.touchId = null;

                this.active = false;
                this.value = { x: 0, y: 0 };

                let self = this;


                

                function handleDown(event) {
                    self.active = true;

                    // all drag movements are instantaneous
                    stick.style.transition = '0s';

                    // touch event fired before mouse event; prevent redundant mouse event from firing
                    event.preventDefault();

                    if (event.changedTouches)
                        self.dragStart = { x: event.changedTouches[0].clientX, y: event.changedTouches[0].clientY };
                    else
                        self.dragStart = { x: event.clientX, y: event.clientY };

                    // if this is a touch event, keep track of which one
                    if (event.changedTouches)
                        self.touchId = event.changedTouches[0].identifier;

                    // while(self.active)
                    // {
                    //     joyPublish(self.value.x, self.value.y)
                    // }
                }

                function handleMove(event) {
                    if (!self.active) return;

                    // if this is a touch event, make sure it is the right one
                    // also handle multiple simultaneous touchmove events
                    let touchmoveId = null;
                    if (event.changedTouches) {
                        for (let i = 0; i < event.changedTouches.length; i++) {
                            if (self.touchId == event.changedTouches[i].identifier) {
                                touchmoveId = i;
                                event.clientX = event.changedTouches[i].clientX;
                                event.clientY = event.changedTouches[i].clientY;
                            }
                        }

                        if (touchmoveId == null) return;
                    }

                    const xDiff = event.clientX - self.dragStart.x;
                    const yDiff = event.clientY - self.dragStart.y;
                    const angle = Math.atan2(yDiff, xDiff);
                    const distance = Math.min(maxDistance, Math.hypot(xDiff, yDiff));
                    const xPosition = distance * Math.cos(angle);
                    const yPosition = distance * Math.sin(angle);

                    // move stick image to new position
                    stick.style.transform = `translate3d(${xPosition}px, ${yPosition}px, 0px)`;

                    // deadzone adjustment
                    const distance2 = (distance < deadzone) ? 0 : maxDistance / (maxDistance - deadzone) * (distance - deadzone);
                    const xPosition2 = distance2 * Math.cos(angle);
                    const yPosition2 = distance2 * Math.sin(angle);
                    const xPercent = parseFloat((xPosition2 / maxDistance).toFixed(3));
                    const yPercent = parseFloat((yPosition2 / maxDistance).toFixed(3));

                    self.value = { x: xPercent, y: yPercent };
                    
                
                    console.log(self.value)
                }

                function handleUp(event) {
                    if (!self.active) return;

                    // if this is a touch event, make sure it is the right one
                    if (event.changedTouches && self.touchId != event.changedTouches[0].identifier) return;

                    // transition the joystick position back to center
                    stick.style.transition = '.2s';
                    stick.style.transform = `translate3d(0px, 0px, 0px)`;

                    // reset everything
                    self.value = { x: 0, y: 0 };
                    self.touchId = null;
                    self.active = false;
                }

                stick.addEventListener('mousedown', handleDown);
                stick.addEventListener('touchstart', handleDown);
                document.addEventListener('mousemove', handleMove, { passive: false });
                document.addEventListener('touchmove', handleMove, { passive: false });
                document.addEventListener('mouseup', handleUp);
                document.addEventListener('touchend', handleUp);
            }
        }

        let joystick1 = new JoystickController("stick", 64, 8);
        let ros = new ROSLIB.Ros({
                        url: 'ws://192.168.0.102:9090',
                })

        function joyPublish(xval, yval) {
                   
                   let topic = new ROSLIB.Topic({
                       ros: ros,
                       name: 'cmd_vel',
                       messageType: 'geometry_msgs/Twist'
                   })
                   let message = new ROSLIB.Message({
                       linear: { x: -yval, y: 0, z: 0 },
                       angular: { x: 0, y: 0, z: -xval }
                   })
                   // debugger
                   console.log(message)
                   topic.publish(message)
               }

        function update() {
            document.getElementById("status").innerText = "Joystick 1: " + JSON.stringify(joystick1.value);
            joyPublish(joystick1.value.x, joystick1.value.y)
        }

        function loop() {
            requestAnimationFrame(loop);
            update();
        }

        loop();

    </script>


    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" href="js/bootstrap.min.js"></script>
</body>

</html>